<%-include('partials/head', {title: 'Pokemon'}) %> <%-include('partials/navbar') %>

    <h1>These are my starter pokemons!</h1>
    <ul>
      <% for(let poke of pokemon) {%>
      <li><%= poke %></li>
      <% } %>
    </ul>
    <%-include('partials/footer') %>

