#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Info Styling */

.profile-img {
  height: 317px;
  width: 317px;
  border-radius: 10px 10px 0px 0px;
}

.info-title, .info-subtitle {
  font-family: Inter;
  letter-spacing: 0em;
  text-align: center;
}

.info-title{
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: #FFFFFF;
}

.info-subtitle {
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  color: #F3BF99; 
}

.info-website {
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  color: #F5F5F5;

}

.info-socials-container {
  display: flex;
  justify-content: center;
  gap: 17px;
}

.btn {
  border-radius: 6px;
  padding: 9px 13px 9px 11px;
}

.email-container, .linkedin-container{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #D1D5DB; */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  width: 115px;
  height: 34px;
}

.email-container {
  color: black;
  background-color: #FFFFFF;

}

.linkedin-container{
  background-color: #5093E2;
}


.icon-email {
  height: 9.600001335144043px;
  width: 12.79999828338623px;
  border-radius: 0px;
}

.icon-linkedin {
  height: 16px;
  width: 16px;
  
}

.btn-email, .btn-linkedin {
  font-family: Inter;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.btn-email {
  color: black;
  width: 36px;
  height: 16px;
}

.btn-linkedin {
  color: white;
  width: 57px;
  height: 16px;
}

/* About Styling + Interest Styling*/

.about-container, .interests-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-title, .interests-title {
  width: 242.71px;
  height: 21px;
  text-align: left;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 0;
  color: #F5F5F5;

}

.about-subtitle, .interests-subtitle {
  margin-top: 5px;
  width: 242.71px;
  height: 61px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  color: #DCDCDC;
  text-align: left;

}

.App {
  width: 317px;
  background-color: #1A1B21;
  border-radius: 0px 0px 10px 10px;
}

body {
  background-color: #23252C;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background: #161619;
  border-radius: 0px 0px 10px 10px;
  width: 317px;
  height: 64px;
}


.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* .card {
  padding: 2em;
} */

/* .read-the-docs {
  color: #888;
} */
